<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="keywords" content="python programming language,python faster way,python,programming,language,python2,python27">
        <meta name="description" content="python programming language faster way">
        <meta name="author" content="Zokis">
        <link rel="icon" href="images/python.org.16.ico" sizes="16x16">
        <link rel="icon" href="images/python.org.ico">
        <link rel="stylesheet" type="text/css" href="stylesheets/compress.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/gments/monokai.css" media="screen" />
        <title>Python: faster way by zokis</title>
    </head>    
<body>
<header>
    <div class="container-super">
         <h1>Python: faster way</h1>
         <h2>
          Tricks for your code run faster --
          <a href="https://github.com/zokis/Python--Faster-Way">
            <img src="images/blacktocat.png">
          </a>
         </h2>
    </div>
</header>
<div class="container-fluid">
    <a href="#plataform"><h4>#Plataform</h4></a>
    <div class="row-fluid" id="plataform">
        <div class="span12"><pre class="python">
>>> import sys
>>> import platform
>>> platform.system()
'Linux'
>>> platform.release()
'3.8.0-29-generic'
>>> sys.version
'2.7.4 (default, Apr 19 2013, 18:28:01) \n[GCC 4.7.3]'
>>> from timeit import timeit
>>> from dis import dis
>>> 
        </pre></div>
    </div>
    {% for test in tests %}
    <a href="#test{{ test.n }}"><h4>#Test {{ test.n }}</h4></a>
    <div class="row-fluid" id="test{{ test.n }}">
    	{% for case in test.cases %}
        <div class="span{{ test.span }}"><pre class="python">
{{ case }}
        </pre></div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script src="javascripts/highlight.pack.js"></script>
<script>
    window.onload = function() {
        var aCodes = document.getElementsByTagName('pre');
        for (var i = 0; i < aCodes.length; i++) {
            hljs.highlightBlock(aCodes[i]);
        }
    };
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17236714-3']);
    _gaq.push(['_setDomainName', 'uni.me']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
