body {
  margin: 0;
  padding: 0;

  background: #151515 url("../images/bkg.png") 0 0;
  font: 16px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #eaeaea;
  line-height: 1.5;
}

/* General & 'Reset' Stuff */

.container-super {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  display: block;

  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

header {
  width: 100%;
  margin: 0 0 40px 0;
  padding: 20px 0;

  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed #b5e853;
}

header h1 {
  margin: 0 0 0 -40px;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 30px;
  font-weight: bold;
  color: #b5e853;
  letter-spacing: -1px;
  line-height: 1.5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),

  0 0 5px rgba(181, 232, 83, 0.1),
  0 0 10px rgba(181, 232, 83, 0.1);
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  content: "./ ";

  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;

  margin: 0;

  text-align: center;
}

/*Main Content*/

#main_content {
  width: 100%;

  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-weight: normal;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),

  0 0 5px rgba(181, 232, 83, 0.1),
  0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  margin: 0 0 5px 0;

  font-size: 12px;
  text-transform: uppercase;
}

#main_content h6 {
  margin: 0 0 5px 0;

  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
}

ul li:before {
  content: ">>";

  margin-right: 21px;
  margin-left: -37px;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #b5e853;
  line-height: 16px;
}

blockquote {
  padding-left: 10px;

  color: #aaa;
  border-left: 1px dotted #666;
}

pre {
  overflow: auto;
  overflow-y: hidden;
  padding: 10px;

  background: rgb(39, 40, 34);
  font-size: 14px;
  color: #FFF;
  text-wrap: normal;
  border: 1px solid rgba(180, 230, 80, 0.25);
  border-radius: 12px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  padding: 5px 10px;

  text-align: left;
  border-bottom: 1px dashed #b5e853;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;

  color: #b5e853;
  border: 0;
  border-bottom: 1px dashed #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;

  padding: 8px 18px;

  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  border-top: 2px solid rgba(0, 0, 0, 1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  float: left;

  height: 16px;
  width: 16px;
  margin: 1px 8px 0 0;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";

  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
